extends layout


block body
  .container.narrow

    .page-header
      h1 Git Miner
      .lead Dig into the guts of git history


    h3 How it works:

    p This tool doesn’t need access to your repository. It needs only one thing—your git log.

    ul
      li Open your repository’s folder in your terminal.
      li Run one of the snippets below from that folder:
        p To download log parser script using cURL:
        pre curl -s https://gitminer.com/parser.sh | bash
        p or using Wget:
        pre wget -qO- https://gitminer.com/parser.sh | bash
      li Wait until it finishes parsing your git history and uploads it to the server for analysis.
      li Follow the link to see the history report.

    .alert.alert-info
      | You can see a sample report for the repository of&nbsp;
      a(href="/report/wn36t", target="_blank") Google v8 repo
      |  or&nbsp;
      a(href="/report/1jle2x", target="_blank") lodash nodejs module.


block footer
  .container
    p.text-muted
      | &copy; 2014–#{new Date().getFullYear()} gitminer.com.
      |&nbsp;
      a(href="mailto:deadrunk@gmail.com") Contact
